* {
  box-sizing: border-box;
}

.body {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  background: #121212;
  padding: 480px;
  width: 1440px;
  height: 1440px;

  .overlay7 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    background-color: #00000033;
    padding: 40px 40px 80px;
    width: 1440px;
    height: 1440px;
    background-image: linear-gradient(
      135deg,
      #14b8a6 0%,
      #0d9488 50%,
      #6366f1 100%
    );

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .overlay {
        border-radius: 9999px;
        background: #ffffff4d;
        width: 16px;
        height: 16px;
      }

      .gradient {
        margin-top: 624px;
        width: 4px;
        height: 80px;
        background-image: linear-gradient(
          180deg,
          #ffffff00 0%,
          #ffffff1a 50%,
          #ffffff00 100%
        );
      }
    }

    .overlay2 {
      margin-top: 1264px;
      margin-left: 8px;
      border-radius: 9999px;
      background: #6366f166;
      width: 8px;
      height: 8px;
    }

    .autoWrapper2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 526px;
      margin-left: 475px;

      .container2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 109px;
        margin-left: 109px;
        padding-bottom: 32px;

        .overlay4 {
          position: relative;
          border-radius: 9999px;
          background: #14b8a64d;
          width: 128px;
          height: 128px;

          .overlay3 {
            position: absolute;
            top: 8px;
            left: 8px;
            border-radius: 9999px;
            background: #14b8a633;
            width: 112px;
            height: 112px;
          }

          .backgroundBorderShad {
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #ffffff33;
            border-radius: 24px;
            box-shadow: 0px 25px 50px -12px #00000040;
            width: 128px;
            height: 128px;
            overflow: hidden;
            background-image: linear-gradient(135deg, #14b8a6 0%, #6366f1 100%);
            backdrop-filter: blur(10px);

            .gradient2 {
              position: absolute;
              top: 8px;
              right: 8px;
              bottom: 8px;
              left: 8px;
              border-radius: 16px;
              width: 110px;
              height: 110px;
              background-image: linear-gradient(
                135deg,
                #ffffff33 0%,
                #ffffff00 100%
              );
            }

            .container {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              border-radius: 24px;
              padding-right: 39px;
              padding-left: 39px;
              width: 126px;
              height: 126px;
              background-image: linear-gradient(
                0deg,
                #00000000 0%,
                #00000000 50%,
                #ffffff1a 100%
              );

              .sVg {
                flex-shrink: 0;
                width: 48px;
                height: 48px;
              }
            }
          }
        }
      }

      .container5 {
        display: inline-flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        row-gap: 16px;

        .container3 {
          display: flex;
          position: absolute;
          top: 76px;
          left: 173px;
          flex-shrink: 0;
          align-items: center;
          column-gap: 12px;
          width: 48px;
          height: 8px;

          .background {
            flex-shrink: 0;
            border-radius: 9999px;
            background: #14b8a6;
            width: 8px;
            height: 8px;
          }
        }

        .heading1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          z-index: 1;

          .text {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 188px;
            height: 72px;
            line-height: 72px;
            letter-spacing: -1.8px;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 72px;
            font-weight: 800;
          }
        }

        .container4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          z-index: 2;
          padding-bottom: 8px;

          .text2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 345px;
            height: 32px;
            line-height: 32px;
            letter-spacing: 0;
            color: #ffffffcc;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
          }
        }

        .gradient3 {
          flex-shrink: 0;
          z-index: 3;
          border-radius: 9999px;
          width: 96px;
          height: 4px;
          background-image: linear-gradient(90deg, #14b8a6 0%, #6366f1 100%);
        }
      }
    }

    .overlay5 {
      margin-top: 1300px;
      margin-left: 399px;
      border-radius: 9999px;
      background: #ffffff33;
      width: 20px;
      height: 20px;
    }

    .overlay6 {
      margin-top: 40px;
      margin-left: 36px;
      border-radius: 9999px;
      background: #14b8a680;
      width: 12px;
      height: 12px;
    }

    .gradient4 {
      margin-top: 640px;
      margin-left: 36px;
      width: 4px;
      height: 80px;
      background-image: linear-gradient(
        180deg,
        #ffffff00 0%,
        #ffffff1a 50%,
        #ffffff00 100%
      );
    }
  }

  .autoWrapper3 {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;

    .verticalDivider {
      width: 1px;
      height: 64px;
      rotate: 45deg;
      background-image: linear-gradient(180deg, #14b8a64d 0%, #14b8a600 100%);
    }

    .verticalDivider2 {
      margin-top: 416px;
      margin-left: 478px;
      width: 1px;
      height: 64px;
      rotate: -45deg;
      background-image: linear-gradient(0deg, #6366f14d 0%, #6366f100 100%);
    }
  }
}
