* {
  box-sizing: border-box;
}

.container18 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
  padding: 335px 16px;
  width: 1440px;
  height: 1440px;
  min-height: 1440px;

  .gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    opacity: 0.05;
    width: 1440px;
    height: 1440px;
    background-image: linear-gradient(
      135deg,
      #14b8a6 0%,
      #0d9488 50%,
      #6366f1 100%
    );
  }

  .container2 {
    display: flex;
    position: absolute;
    top: 24px;
    left: 80px;
    flex-shrink: 0;
    align-items: center;
    column-gap: 12px;
    z-index: 1;
    width: 1280px;
    height: 40px;

    .container {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border-radius: 12px;
      background: #14b8a6;
      padding-right: 10px;
      padding-left: 10px;
      height: 40px;

      .sVg {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
      }
    }

    .text {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 65px;
      height: 32px;
      line-height: 32px;
      letter-spacing: 0;
      color: #121212;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .container3 {
    display: flex;
    position: absolute;
    top: 1376px;
    right: 0;
    left: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    z-index: 2;
    padding: 24px 80px;
    width: 1440px;
    height: 64px;

    .text2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 68px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 0;
      color: #6b7280;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .text3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 7px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 0;
      color: #6b7280;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .text4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 93px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 0;
      color: #6b7280;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }

  .container17 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;
    z-index: 3;
    margin-right: 480px;
    margin-left: 480px;
    row-gap: 32px;

    .overlayBorderShadowO {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border: 1px solid #ffffff99;
      border-radius: 24px;
      box-shadow: 0px 25px 50px -12px #00000040;
      background: #ffffffd9;
      padding: 31px;
      overflow: hidden;
      row-gap: 32px;
      backdrop-filter: blur(15px);

      .container5 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 2px;
        row-gap: 8px;

        .heading1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .text5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 216px;
            height: 36px;
            line-height: 36px;
            letter-spacing: 0;
            color: #121212;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 700;
          }
        }

        .container4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .text6 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 263px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #4b5563;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      .container6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-right: 2px;
        border-radius: 16px;
        background: #f3f4f6;
        padding: 6px;
        min-width: 382px;
        height: 56px;

        .button {
          display: flex;
          align-items: center;
          column-gap: 8px;
          border-radius: 12px;
          box-shadow: 0px 4px 6px -1px #0000001a, 0px 2px 4px -2px #0000001a;
          background: #ffffff;
          padding: 12px 66px;

          .sVg2 {
            flex-shrink: 0;
            width: 12px;
            height: 14px;
          }

          .text7 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #14b8a6;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .button2 {
          display: flex;
          align-items: center;
          column-gap: 8px;
          border-radius: 12px;
          padding: 12px 27px;

          .sVg3 {
            flex-shrink: 0;
            width: 14px;
            height: 14px;
          }

          .text8 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #4b5563;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .container15 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 2px;
        row-gap: 20px;

        .text9 {
          flex-shrink: 0;
          width: 382px;
          line-height: 20px;
          letter-spacing: 0;
          color: #121212;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .container8 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .input {
            display: flex;
            position: relative;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: center;
            border: 2px solid #e5e7eb;
            border-radius: 12px;
            background: #ffffff;
            padding: 15px 14px 16px 46px;
            width: 382px;
            height: 56px;
            overflow: hidden;

            .container7 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              overflow: hidden;

              .text10 {
                flex-shrink: 0;
                width: 128px;
                letter-spacing: 0;
                color: #9ca3af;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .sVg4 {
              position: absolute;
              top: 18px;
              left: 14px;
              flex-shrink: 0;
              width: 16px;
              height: 16px;
            }
          }
        }

        .container11 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .input2 {
            display: flex;
            position: relative;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: center;
            border: 2px solid #e5e7eb;
            border-radius: 12px;
            background: #ffffff;
            padding: 15px 46px 16px;
            width: 382px;
            height: 56px;
            overflow: hidden;

            .container9 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              overflow: hidden;

              .text11 {
                flex-shrink: 0;
                width: 138px;
                letter-spacing: 0;
                color: #9ca3af;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .sVg5 {
              position: absolute;
              top: 18px;
              left: 14px;
              flex-shrink: 0;
              width: 14px;
              height: 16px;
            }

            .container10 {
              display: inline-flex;
              position: absolute;
              top: 16px;
              left: 346px;
              flex-shrink: 0;
              align-items: flex-start;
              z-index: 1;
              padding-top: 2px;
              padding-bottom: 2px;
              width: 18px;
              height: 20px;

              .sVg6 {
                flex-shrink: 0;
                width: 18px;
                height: 16px;
              }
            }
          }
        }

        .container12 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;

          .label {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 8px;

            .input3 {
              flex-shrink: 0;
              border: 1px solid #767676;
              border-radius: 3px;
              background: #ffffff;
              width: 16px;
              height: 16px;
            }

            .text12 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 97px;
              height: 20px;
              line-height: 20px;
              letter-spacing: 0;
              color: #4b5563;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }

          .text13 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 121px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #14b8a6;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .button3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          border-radius: 12px;
          box-shadow: 0px 10px 15px -3px #14b8a64d, 0px 4px 6px -4px #14b8a64d;
          background: #14b8a6;
          padding-top: 16px;
          padding-bottom: 16px;
          overflow: hidden;

          .text14 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 53px;
            height: 24px;
            line-height: 24px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }

        .container13 {
          display: flex;
          position: relative;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          width: 382px;

          .horizontalDivider {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            flex-grow: 1;
            border-width: 1px 0px 0px;
            border-style: solid;
            border-color: #e5e7eb;
            width: 382px;
            height: 1px;
          }

          .background {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            z-index: 1;
            margin-right: 120px;
            margin-left: 120px;
            background: #ffffff;
            padding-right: 16px;
            padding-left: 16px;

            .text15 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 110px;
              height: 20px;
              line-height: 20px;
              letter-spacing: 0;
              color: #6b7280;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }

        .button4 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;
          border: 2px solid #e5e7eb;
          border-radius: 12px;
          background: #ffffff;
          padding: 12px 150px;

          .sVg7 {
            flex-shrink: 0;
            width: 17px;
            height: 18px;
          }

          .text16 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #121212;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .container14 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: center;
          padding-top: 16px;

          .text17 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #4b5563;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .text18 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            margin: 0px 0px 0px -1px;
            width: 53px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #14b8a6;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }

    .container16 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;

      .text19 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 203px;
        height: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: #6b7280;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .text20 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 97px;
        height: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: #14b8a6;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .text21 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: #6b7280;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .text22 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 79px;
        height: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: #14b8a6;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }
  }
}
